/* src/styles/LandingPage.css */
.LandingPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  /* Ensure it takes full viewport height */
}

.LandingPage-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.LandingPage-footer {
    background-color: #333;
    color: white;
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    bottom: 0%;
}

.LandingPage-header-content, .LandingPage-footer {
    display: flex;
    align-items: center;
}

.LandingPage-logo {
    height: 50px;
    margin-right: 15px;
}

.LandingPage-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

/* Centering container for dropdowns */
.dropdown-center {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 100vh; /* Full height of the viewport */
}

/* Dropdown container */
.dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    height: 100vh;
    flex-grow: 1;
}
  
  /* Styling for dropdowns */
.subject-select,
.location-select,
.language-select {
    margin: 30px 0;
}
  
select {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    text-align: center;
}

.submitbutton {
    margin-top: -175px; /* Remove unnecessary space above the button */
    display: flex; /* Ensures proper centering */
    justify-content: center; /* Centers the button horizontally */
    width: 100%; /* Matches container width */
}
  
.submit {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    width: 200px; /* Fixed width for consistency */
    text-align: center;
    margin-bottom: 50px;
 }

/* Hover effect for items */
.subject-select a:hover, .location-select a:hover, .submitbutton a:hover {
    background-color: #ddd;
}

