.verify-code-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to top, #b5f7f3, #d5f7f5, #fcfcfc);
  }
  
  .verify-code-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .MfaPage-footer {
    margin-top: auto;
  }
  